body, html {
  padding: 0; margin: 0; 
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.bg {
  background-image: url(rainbow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
}

header {
  background-color: rgb(201, 201, 201); 
  display: flex; 
}
.logo img {
  max-width: 100px; 
  margin: 10px 0px 0px 0px;
}
.choice {
  margin-left: 85vh; 
  margin-top: 10px;
}
.choice a {
  text-decoration: none; 
  font-size: 30px; margin: 0 0 0 50px; 
  color: rgb(64, 105, 194);
}
form {
  height: 25px;
  margin: 10px 0 0 2vh;
  display: flex;
  border: 0px;
  
  
}
.search-form button {
  margin-left: 10px;
  border-radius: 15px;
  border: 0px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(78, 117, 151);
}
.search-form input {
  padding-left: 10px;
  border: 0px;
  border-radius: 15px;
}
.search-form input::placeholder {
  color: rgb(78, 117, 151); 
  font-weight: 500;
}
.bg a {
  color: white; 
  text-decoration: none; 
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px 1px rgb(63, 63, 134);
}
.click {
  background-color: rgb(113, 131, 168); 
  height: 40px; 
  width: 150px;
  border-radius: 20px;
  border: 0px;
  margin-left: 131vh;
  margin-top: 10px;
  display: flex;
}

footer p {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
}


