body, html {
  padding: 0; margin: 0; 
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}
header {
  background-color: rgb(201, 201, 201); 
  display: flex; 
  border: 0px;
}
.bg {
  background-image: url(rainbow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  
}
.logo img {
  max-width: 120px; 
  margin: 10px 0px 0px 0px;
}
.choice {
  margin-left: 105vh; 
  margin-top: 10px;
}
.choice a {
  text-decoration: none; 
  font-size: 40px; margin: 0 0 0 50px; 
  color: rgb(64, 105, 194);
}
form {
  height: 35px;
  margin: 20px 0 0 2vh;
  display: flex;
  border: 0px;
  
  
}
.search-form button {
  margin-left: 10px;
  border-radius: 20px;
  border: 0px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(78, 117, 151);
  width: 70px;
  box-shadow: 0px 0px 50px 1px white;
}
.search-form input {
  padding-left: 50px;
  border: 0px;
  border-radius: 20px;
  width: 200px;
  box-shadow: 0px 0px 50px 1px white;
  
  background-image: url(google.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 0px center;
  
}
.search-form input::placeholder {
  color: rgb(78, 117, 151); 
  font-weight: 600;
  font-size: 15px;
  
}
footer p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}



