body, html {
  padding: 0; margin: 0; background-color: aqua;
}
header {
  background-color: blue; width: 100%; display: inline-flex;
}
.world {
  background-color: aliceblue; width: 100px; padding: 10px 10px; margin: 10px 10px;
}
.hello {
  background-color: aliceblue; width: 100px; padding: 10px 10px; margin: 10px 10px; 
}