html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topbar {
    backdrop-filter: blur(10px);
    min-width: 950px;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    display: flex;
    height: 60px;
    margin-top: 0px;
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0px 2px 20px black;
}
.logo {
    width: 50px;
    margin: 5px 0px 5px 5px;
}
.logo img {
    width: 50px;
    transition: transform 0.2s ;

}
.logo img:hover {
    transform: scale(1.1 , 1.1);
}
.search-box {
    position: absolute;
    top: 15px;
    left: 100px;
}
.search-box input {
    border: none;
    border-radius: 50px;
    height: 25px;
    width: 200px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(233, 233, 233);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 10px black;
}
.search-box input::placeholder {
    font-size: 15px;
    font-weight: 600;
    padding-left: 25px;
    background-image: url(search.png);
    background-position: -1px 1px;
    background-repeat: no-repeat;
    background-size: 20px;
    color: rgb(233, 233, 233);
}
.search-box button {
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    transition: transform 0.1s , color 0.1s , background-color 0.1s;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 10px black;
    color: rgb(233, 233, 233);
}
.search-box button:hover {
    transform: scale(1.05, 1.05);
    color: white;
    background-color: rgb(91, 103, 109);
    box-shadow: 0px 4px 20px black;
}
.choice {
    position: absolute;
    right: 3%;
    display: flex;
    top: 15px;
}
.product-list {
    position: relative;
    margin-right: 40px;
    transition: transform 0.3s ease , 0.3s;
}
.product-list:hover {
    transform: scale(1.1, 1.1);
}
.product-list a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(152, 162, 175);
    padding-left: 25px;
    transition: 0.3s;
    margin-right: -36px;
    padding-right: 25px;
}
.product-list a:hover {
    transform: scale(1.1, 1.1);
    color: white;
}
.product-list ul {
    position: absolute;
    backdrop-filter: blur(50px);
    padding-left: 0px;
    width: 175px;
    padding: 20px 0px 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px black;
    display: none;
    margin-top: 0px;
    transition: 0.3s;

}
.product-list ul:hover {
    transform: scale(1.03, 1.03);
}
.product-list ul li {
    list-style: none;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 50px;
    height: 30px;
    width: 150px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0px 2px 10px black;
}
.product-list ul li:hover {
    transform: scale(1.1, 1.1);
}
.product-list ul li a {
    font-size: 20px;
    position: relative;
    left: -15px;
    top: 4px;
    color: rgb(152, 162, 175);
    transition: 0.3s ease;
    padding-right: 30px;
}
.product-list ul li a:hover {
    transform: scale(1.1 , 1.1);
    left: -15px;
    top: 4px;
    color: white;
}
.product-list:hover ul {
    display: block;
}
.choice .normal-choice {
    width: 400px;
    transition: 0.3s ease;
}

.choice .normal-choice a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(152, 162, 175);
    padding: 0px 25px 0px 25px;
    margin-left: -2px;    
    transition: 0.3s;
    display: inline-flex;
}
.choice .normal-choice a:hover {
    transform: scale(1.1, 1.1);
    color: white;

}

.content {
    background-image: url(mountain2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    z-index: 1;
    position: relative;
}



