html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topbar {
    backdrop-filter: blur(10px);
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    height: 3.5rem;
    margin-top: .5rem;
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0px 2px 20px black;
}
.logo {
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 3.5rem;
    height: auto;
    transition: transform 0.2s ;

}
.logo img:hover {
    transform: scale(1.1 , 1.1);
}
.search-box {
    position: relative;
    display: flex;
    margin: 0 1.5rem;
}
.search-box input {
    border: none;
    border-radius: 50px;
    height: 1.5rem;
    width: 15rem;
    padding-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(233, 233, 233);
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 10px black;
}
.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1.5rem;
    background-image: url(search.png);
    background-position: -0.1rem 0;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    color: rgb(233, 233, 233);
}
.search-box button {
    width: 3.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.1s , color 0.1s , background-color 0.1s;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 2px 10px black;
    color: rgb(233, 233, 233);
}
.search-box button:hover {
    transform: scale(1.05, 1.05);
    color: white;
    background-color: rgb(91, 103, 109);
    box-shadow: 0px 4px 20px black;
}
.choice {
    position: absolute;
    right: 1%;
    display: flex;
    width: 33rem;
}
.topbar-list {
    position: relative;
    transition: transform 0.3s ease , 0.3s;
    width: 8rem;
    padding: 0px 25px;
    margin-right: 0.3rem;
}
.topbar-list:hover {
    transform: scale(1.1, 1.1);
}
.topbar-list a {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(152, 162, 175);
    transition: 0.3s;
}
.topbar-list a:hover {
    transform: scale(1.1, 1.1);
    color: white;
}
.topbar-list ul {
    position: absolute;
    backdrop-filter: blur(50px);
    width: 10rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 2px 10px black;
    display: none;
    margin-top: 0px;
    left: -0.4rem;
    transition: 0.3s;

}
.topbar-list ul:hover {
    transform: scale(1.03, 1.03);
}
.topbar-list ul li {
    list-style: none;
    display: flex;
    margin-bottom: 0.8rem;
    border: 1px solid black;
    border-radius: 50px;
    height: 2rem;
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0px 2px 10px black;
}
.topbar-list ul li:hover {
    transform: scale(1.1, 1.1);
}
.topbar-list ul li a {
    font-size: 1.5rem;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateX(-50px);
    color: rgb(152, 162, 175);
    transition: 0.3s ease;
    width: 10rem;
    height: 2rem;
    transform: translateX(0rem);
    border-radius: 20px;
}
.topbar-list ul li a:hover {
    color: white;
}
.topbar-list:hover ul {
    display: block;
}
.choice .normal-choice {
    transition: 0.3s ease;
}

.choice .normal-choice a {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(152, 162, 175);
    padding: 0px 25px;    
    transition: 0.3s;
    margin-right: 0.1rem;
    display: inline-flex;
}
.choice .normal-choice a:hover {
    transform: scale(1.1, 1.1);
    color: white;

}

.content {
    background-image: url(mountain2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150vh;
    width: 100%;
    z-index: 1;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 6rem;
}
.hometext {
    text-align: center;
    display: block;
    position: relative;
}
.hometext h1 {
    padding: 10px 0px;
    margin-bottom: 0px;
    color: rgb(192, 138, 76);
    font-size: 5rem;
}
.sup-hometext {
    position: relative;
    display: inline-flex ;
    margin-top: 0px;
    height: 100px;
}
.sup-hometext h2 {
    font-size: 2rem;
    color: rgb(192, 138, 76);
    position: absolute;
    top: 0px;
    left: -16rem;
    padding: 5px 5px 0px 5px;
}
.sup-hometext-h2 h2 {
    font-size: 3.5rem;
    top: -2rem;
    left: 2rem;
    border-radius: 25px;
    padding: 5px 10px 10px 10px;
    transition: 0.3s;
}
.sup-hometext-h2 h2:hover {
    box-shadow: 0px 0px 30px 5px  rgb(196, 188, 175);
    background-color: rgb(196, 188, 175, .6);
    transform-origin: center;
}
.hometext p {
    margin-top: 2rem;
    font-size: 0.8rem;
}
.hometext h3 {
    font-size: 1rem;
}
.menu {
    width: 80%;
    height: 20rem;
    position: relative;
    margin-left: 10%;
    margin-top: 12rem;  
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 1px rgb(0, 0, 0, 0.5); 
    border-radius: 20px; 
    backdrop-filter: blur(5px);
    transition: 0.2s ease;
}
.menu:hover {
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255, 0.1);  
    backdrop-filter: blur(20px);
    transform: scale(1.05, 1.05);
}
.menu-box img {
    width: auto;
    height: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    border-radius: 40%;
    transition: 0.3s ease;
}
.menu-box img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.2);
}
.menu-box a {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.1);
    width: 25rem;
    height: 16rem;
    padding: 0px 0px;
    margin: 0 2rem;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.menu-box a::before {
    width: 0%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(to right , rgb(0, 0, 0 , .2) 40%,
    rgb(255, 255, 255 , .2));
    transition: .5s ease;
}
.menu-box a:hover::before {
    width: 100%;
}
.menu-box a:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
}
@media screen and (max-width:1750px) {
    .menu-box a {
    width: 24rem;
    height: 16rem;
    }
}

@media screen and (max-width:1690px) {
    .menu-box a {
    width: 23rem;
    height: 16rem;
    }
    .menu {
        margin-top: 7rem;
    }
}
@media screen and (max-width:1630px) {
    .menu-box a {
    width: 22rem;
    height: 16rem;
    }
}
@media screen and (max-width:1570px) {
    .menu-box a {
    width: 21rem;
    height: 16rem;
    }
}
@media screen and (max-width:1510px) {
    .menu-box a {
    width: 20rem;
    height: 16rem;
    }
}
@media screen and (max-width:1450px) {
    .menu-box a {
    width: 19rem;
    height: 16rem;
    }
}
@media screen and (max-width:1390px) {
    .menu-box a {
    width: 18rem;
    height: 14rem;
    }
    .menu {
        height: 18rem;
    }
}
@media screen and (max-width:1330px) {
    .menu-box a {
    width: 17rem;
    height: 14rem;
    }
}
@media screen and (max-width:1280px) {
    .menu-box a {
    width: 16rem;
    height: 12rem;
    }
    .menu {
        height: 16rem;
    }
}
@media screen and (max-width:1210px) {
    .menu-box a {
    width: 15rem;
    height: 12rem;
    }
}
@media screen and (max-width:1150px) {
    .menu-box a {
    width: 14rem;
    height: 12rem;
    }
}
@media screen and (max-width:1090px) {
    .menu-box a {
    width: 13rem;
    height: 12rem;
    margin: 0 1.5rem;
    }
}
@media screen and (max-width:970px) {
    .logo img {
        width: 3rem;
    }
    .search-box {
        margin-left: 0.5rem;
    }
    .choice {
        width: 17.2rem;
        height: 3rem;
        
    }
    .topbar-list {
        width: 3rem;
        padding: 0 1.5rem;
        margin-right: 0.1rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topbar-list a {
        font-size: 1.2rem;
    }
    .topbar-list ul {
        width: 6rem;
        margin-left: -1rem;
        margin-top: 1rem;
    }
    .topbar-list ul li {
        width: 6rem;
    }
    .topbar-list ul li a {
        font-size: 1rem;
    }
    .normal-choice {
        display: flex;
    }
    .choice .normal-choice a {
        font-size: 1.2rem;
        padding: 0 0.5rem;
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .menu-box a {
    width: 12rem;
    height: 12rem;
    }
}

@media screen and (max-width:910px) {
    .menu-box a {
    width: 11rem;
    height: 10rem;
    }
    .menu {
        height: 12rem;
    }
}
@media screen and (max-width:850px) {
    .menu-box a {
    width: 10rem;
    }
}
@media screen and (max-width:790px) {
    .menu-box a {
    width: 9rem;
    }
}
@media screen and (max-width:730px) {
    .menu-box a {
    width: 9rem;
    height: 8rem;
    margin: 0 1rem;
    }
    .menu {
        height: 10rem;
    }
}
@media screen and (max-width:670px) {
    .logo img {
        width: 2.5rem;

    }
    .search-box input {
        width: 8rem;
        height: 1rem;
        margin-right: 0.5rem;
        font-size: 0.6rem;
        font-weight: 500;
    }
    .search-box input::placeholder {
        font-size: 0.6rem;
        font-weight: 500;
        background-position: 0 0;
        background-size: 0.7rem;
    }
    .search-box button {
        width: 3rem;
        height: 1rem;
        font-size: 0.6rem;
        font-weight: 500;
    }
    .hometext h1 {
        font-size: 3rem;
    }
    .sup-hometext h2 {
        font-size: 1.2rem;
        margin-left: 6rem;
    }
    .sup-hometext-h2 h2 {
        font-size: 2rem;
        margin-left: -1rem;
        margin-top: 2.5rem;
    }
    .hometext p {
        font-size: 0.5rem;
        margin-top: 0;
    }
    .hometext h3 {
        font-size: 0.8rem;
    }
    .menu {
        margin-top: 18rem;
    }
    .menu-box a {
        width: 8rem;
    }
}
@media screen and (max-width:610px) {
    .menu {
        height: 8rem;
    }
    .menu-box a {
        width: 8rem;
        height: 6rem;
        margin: 0 0.5rem;
    }
}
@media screen and (max-width:550px) {
    .topbar-list a {
        font-size: 1rem;
    }
    .topbar-list {
        padding: 0.8rem;
    }
    .topbar-list ul {
        margin-left: -2rem;
    }
    .choice {
        margin-right: 0;
        width: 14rem;
        
    }
    .choice .normal-choice a {
        font-size: 1rem;
        padding: 0.3rem;
    }
    .menu {
        width: 90%;
        margin-left: 5%;
    }

}
@media screen and (max-width:490px) {
    .topbar-list a {
        font-size: 0.7rem;
    }
    .choice .normal-choice a {
        font-size: 0.7rem;
    }
    .choice {
        width: 12rem;
    }
    .topbar-list ul {
        width: 5rem;
        margin-left: -1rem;
    }
    .topbar-list ul li {
        width: 5rem;
    }
    .topbar-list ul li a {
        font-size: 0.7rem;
    }
    .menu-box a {
        width: 7rem;
    }
}
@media screen and (max-width:435px) {
    .topbar input {
        width: 5rem;
        padding-left: 5px;
    }
    .topbar input::placeholder {
        font-size: 0.4rem;
        background-size: 0.6rem;
        background-position: 0.1rem -0.05rem;
        padding-left: 20%;
    }
    .topbar button {
        width: 2rem;
        font-size: 0.4rem;
    }
    .menu-box a {
        width: 7rem;
        margin: 0 0.3rem;
    }
}
@media screen and (max-width:415px) {
    .menu-box a {
        width: 6rem;
    }
}
@media screen and (max-width:382px) {
    .search-box input {
        width: 4.5rem;
        font-size: 0.5rem;
    }
    .search-box input::placeholder {
        font-size: 0.3rem;
        padding-left: 0.5rem;
        background: none;
    }
    .search-box button {
        width: 1.5rem;
        font-size: 0.3rem;
    }
    .logo img {
        width: 2rem;
        margin-right: -0.5rem;
    }
    .hometext h1 {
        font-size: 2.5rem;
    }
    .sup-hometext h2 {
        font-size: 1rem;
        margin-left: 8rem;
        
    }
    .sup-hometext-h2 h2 {
        font-size: 1.5rem;
        margin-left: -1rem;

    }
    .hometext p {
        font-size: 0.4rem;
    }
    .hometext h3 {
        font-size: 0.5rem;
    }
    .menu-box a {
        width: 6rem;
        margin: 0 0.2rem;
    }
}




